<div class="container mt-3">
  <div class="row">

    <%= render "genders/genre" %>

    <div class="mt-3 col-sm-8">
     <table class="card border-secondary">
        <tbody class="card-body p-3">
          <% @users.each do |user| %>
            <tr>
              <td class="text-left">
                <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle" %>
                <h6><%= user.user_name %></h6>
                <% end %>
              </td>
              <td>
                <p class="text-left ml-3"><%=safe_join(user.introduct.split("\n"),tag(:br))%></p>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    </div>
</div>