<div class="container">
  <div class="row">
    <div class="col-sm-3 mt-3">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            ALL
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            L（レズビアン）
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            G（ゲイ）
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            B（バイセクシャル）
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            T（トランスジェンダー）
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            Q（クィア/クエッショニング）
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            クロスドレッサー<br>
            （トランスヴェスタント）
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            蛙化現象
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            リスロマンティック
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            デミロマンティック
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            アセクシャル
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            アロマンティック
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            その他
          </div>
        </li>
      </ol>
    </div>
    
      <table class="table mt-3 text-center col-sm-8">
        <% @genders.each do |gender| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(gender.user.id) do %>
                <%= image_tag gender.user.get_profile_image(50, 50), class: "rounded-circle" %><br>
                <%= gender.user.user_name %>
              <% end %>
            </td>
            <td>
              <%= link_to gender_path(gender) do %>
                <%= gender.title %>
              <% end %>
            </td>
            <td>
              <% if gender.user.id == current_user.id %>
                <%= link_to "編集", gender_path(gender), class: "btn-sm btn-success" %>
                <%= link_to "削除", gender_path(gender), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  
</div>