<div class="container col-sm-6">
  <table class="table mt-3 text-center">
    <% @genders.each do |gender| %>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(gender.user.id) do %>
            <%= image_tag gender.user.get_profile_image(50, 50), class: "rounded-circle" %><br>
            <%= gender.user.user_name %>
          <% end %>
        </td>
        <td>
          <%= link_to gender_path(gender) do %>
            <%= gender.title %>
          <% end %>
        </td>
        <td>
          <%= link_to "編集", gender_path(gender), class: "btn-sm btn-success" %>
          <%= link_to "削除", gender_path(gender), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>