<div class="container text-center mt-3">
  <%= form_with model: @gender, url: genders_path do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
    
    <p>
    <%= form.label :genre, 'ジャンル' %>
    <%= form.collection_radio_buttons(:genre_ids, Genre.all, :id, :name) do |genre| %> 
      <%= genre.label do %>
        <%= genre.radio_button %>
        <%= genre.text %>
      <% end %>
    <% end %>
  </p>
  
    <div class="actions">
      <%= form.submit "投稿する" %>
    </div>
  <% end %>
  
  <%= link_to "一覧", genders_path %>
</div>
